---
layout: home

hero:
  name: "LazierServer"
  text: 资源服务器
  tagline: 一个可以快速搭建的服务器 by <a href="https://github.com/lazier334">lazier334</a>
  actions: {actions}

features: 
  - title: 快速搭建
    details: 基于nodejs快速启动
  - title: 动态应用
    details: 灵活测试接口与资源
  - title: 开源地址
    details: <a href="https://github.com/lazier334/LazierServer" target="_blank">https://github.com/lazier334/LazierServer</a>
---
